/.gradle/4.10.1/fileHashes/fileHashes.bin
/.gradle/4.10.1/fileHashes/fileHashes.lock
/.gradle/4.10.1/javaCompile/classAnalysis.bin
/.gradle/4.10.1/javaCompile/javaCompile.lock
/.gradle/4.10.1/javaCompile/taskHistory.bin
/.gradle/4.10.1/taskHistory/taskHistory.bin
/.gradle/4.10.1/taskHistory/taskHistory.lock
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.idea/caches/build_file_checksums.ser
/.idea/caches/gradle_models.ser
/.idea/libraries/Gradle__android_arch_core_runtime_1_1_0_aar.xml
/.idea/libraries/Gradle__android_arch_lifecycle_livedata_core_1_1_0_aar.xml
/.idea/libraries/Gradle__android_arch_lifecycle_runtime_1_1_0_aar.xml
/.idea/libraries/Gradle__android_arch_lifecycle_viewmodel_1_1_0_aar.xml
/.idea/libraries/Gradle__com_android_support_animated_vector_drawable_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_appcompat_v7_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_constraint_constraint_layout_1_1_3_aar.xml
/.idea/libraries/Gradle__com_android_support_design_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_recyclerview_v7_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_compat_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_core_ui_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_core_utils_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_fragment_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_media_compat_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_v4_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_support_vector_drawable_27_1_1_aar.xml
/.idea/libraries/Gradle__com_android_support_transition_27_1_1_aar.xml
/.idea/libraries/Gradle__com_jjoe64_graphview_4_2_2_aar.xml
/app/app.iml
/local.properties
